*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e7e4e4;
}
.container{
   width: 500px;
   height: 500px;
   padding: 30px;
   margin: 20px auto;
   border-radius: 20px;
}
.form{
   width: 20vh auto;
   padding: 20px;
   height: 120%;
   border-radius: 10px;
   background-color: rgb(233, 178, 126);
   box-shadow:  5px 5px 10px #a3a2a2,
            -5px -5px 10px #ffffff;
}
.formgroup{
    margin-top: 30px;
}
.formgroup input{
    outline: none;
    border-radius: 5px;
    width: 90%;
    padding:13px;
    background-color: beige;
    
}
.formgroup button{
    margin: 10px auto;
    border: none;
    background-color: #eb6035;
    color: black;
    padding: 15px;
    border-radius: 3px;
    width: 90%;
    box-sizing: border-box;
}
.formgroup label{
    display: block;
    font-size: 18px;
    z-index: 50px;
}
.heading{
    margin: 0px;
    text-align: center;
}
.formgroup.error input{
    border-color: rgb(233, 47, 47);
} 
.formgroup.success input{
    border-color:hsl(120, 53%, 50%);
} 
.error{
    color: red;
}
